@import "variaveis/colors.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: $background-color;
}

main {
  // height: 90%;
  width: 90%;
  max-width: 560px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background-color: $main-background-color;
  box-shadow: 1px 1px 5px $shadow-color;
}

.container_text {
  text-align: center;
  text-transform: uppercase;
  margin: 1.5rem 0;

  h1 {
    font-size: 1.5rem;
    color: $black-color;
  }

  img {
    margin-bottom: 5px;
  }
}

.container {
  height: 100%;
  width: 95%;
  max-width: 350px;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 1rem;
  border-radius: 12px;
  border: 1px solid $border-container-color;
}

.container_buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  width: 250px;
  height: 40px;
  margin-bottom: 6px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  background-color: $button-main-color;
  color: $white-color;
  cursor: pointer;

  &:hover {
    transition: 0.4s;
    background-color: $button-hover-color;
  }
}

.container_input {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 55%;
  justify-content: center;

  label,
  span {
    width: 250px;
    font-weight: 600;
    color: $black-color;
  }
}

input[type="text"] {
  width: 250px;
  height: 40px;
  margin-bottom: 6px;
  padding: 0 5px;
  border-radius: 5px;
  outline: 0;
  background-color: $main-background-color;
  border: 1px solid $border-color;

  &::placeholder {
    padding: 0 5px;
    color: $black-color;
    opacity: 0.5;
  }
}

.container_input_saida {
  width: 250px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 6px;
  border-radius: 5px;
  border: 1px solid $border-color;

  textarea {
    width: 90%;
    padding: 0 5px;
    height: 38px;
    font-size: 17px;
    font-weight: 400;
    border: none;
    border-radius: 5px;
    line-height: 38px;
    letter-spacing: 1px;
    overflow: hidden;
    resize: none;
    outline: 0;
  }

  i {
    margin-right: 5px;
    color: $black-color;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }
}

input[type="button"] {
  margin-top: 1rem;
  width: 80px;
  height: 40px;
  background-color: transparent;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid $button-main-color;
  color: $button-main-color;
  cursor: pointer;

  &:hover {
    transition: 0.4s;
    color: $white-color;
    background-color: $button-main-color;
  }
}

.click-button {
  position: relative;

  &:active {
    bottom: 0.5px;
  }
}
