$background-color: #dbd6d6;
$main-background-color: #ffffff;
$button-main-color: #007bff;
$button-hover-color: #0452a7;
$border-color: #a9a9a9;
$border-container-color: #8080806e;
$shadow-color: #808080;
$black-color: #333333;
$white-color: #f5f5f5;